#!/bin/bash
##
# My account
export OP_ACCOUNT="P2CKH7KBHRBZFE6PUDNX47KMFQ"


FB_CLIENT_ID=$(op read "op://Personal/FitBit TCX-To-KML/oAUth2 Creds/ClientID")
export FB_CLIENT_ID
FB_CLIENT_SECRET=$(op read "op://Personal/FitBit TCX-To-KML/oAUth2 Creds/ClientSecret")
export FB_CLIENT_SECRET
